asgiref
Django
easyocr
filelock
fsspec
imageio
intel-openmp
Jinja2
lazy_loader
MarkupSafe
mkl
mpmath
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
pillow
pyclipper
python-bidi
PyYAML
scikit-image
scipy
shapely
six
sqlparse
sympy
tbb
tifffile
torch
torchvision
typing_extensions
tzdata
